.chat
  .chat__main-header
    .chat__main-header__left-box
      .chat__main-header__left-box__current-group
        = @group.name
      .chat__main-header__left-box__member-list
        Member :
        .chat__main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "edit-link" do
      .chat__main-header__edit-btn
        Edit
  .chat__messages
    = render @messages
  .chat__form
    =form_for [@group, @message] do |f|
      .chat__form__new-message
        .chat__form__new-message__input-box
          = f.text_field :content, class: 'chat__form__new-message__input-box__text', placeholder: 'type a message'
          .chat__form__new-message__input-box__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat__form__new-message__btn'